<h1>Angular Router App</h1>

<nav>
  <ul class="flex gap-4 *:cursor-pointer">
    <li class="hover:opacity-75">
      <a
        class="hover:opacity-75 active:text-blue-500"
        [routerLink]="['/']"
        routerLinkActive="is-active-link"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }" 
        >Todo</a
    
      >

    </li>
    <li class="hover:opacity-75">
      <a
        class="hover:opacity-75 active:text-blue-500"
        [routerLink]="['/form']"
        routerLinkActive="is-active-link"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >Form</a
      >
    </li>
    <li class="hover:opacity-75">
      <a
        class="hover:opacity-75 active:text-blue-500"
        [routerLink]="['/notification']"
        routerLinkActive="is-active-link"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >notification</a
      >
    </li>
    <li class="hover:opacity-75">
      <a
        class="hover:opacity-75 active:text-blue-500"
        [routerLink]="['/tabs']"
        routerLinkActive="is-active-link"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
        >tabs</a
      >
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
